
name: Main

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  php-tests:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        php: [8.0, 8.1, 8.2]
        experimental: [ false ]
        include:
          - php: 8.3
            experimental: true

    name: PHP${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Install dependencies
        run: composer update --prefer-dist --no-suggest --no-interaction --no-scripts
        if: ${{ matrix.experimental == false }}

      - name: Install experimental dependencies
        run: composer update --prefer-dist --no-suggest --no-interaction --no-scripts --ignore-platform-reqs
        if: ${{ matrix.experimental == true }}

      - name: Check codestyle
        run: vendor/bin/ecs check --config=easy-coding-standard.php --no-progress-bar .

      - name: Execute unit tests
        run: vendor/bin/phpunit --testsuite unit --testdox --colors=always

      - name: Execute integration tests
        run: vendor/bin/phpunit --testsuite integration --testdox --colors=always

      - name: Execute mutation tests
        run: vendor/bin/infection --threads=4 --min-covered-msi=50 --min-msi=50
